.tooltip-html {
    position: fixed;
    padding: 12px 16px;
    font-size: 14px;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
    color: var(--dark);

    max-width: 350px;
    width: max-content;

    z-index: 1000;
    @media (max-width:$desktop) {
        max-width: calc(100vw - 35px);
    }
}

.tooltip {
    position: fixed;
    padding: 15px;
    border: 2px dashed #b3c9ce;
    border-radius: 4px;
    text-align: center;
    color: #333;
    background: #fff;

    opacity: 0;
    visibility: hidden;
    transition: opacity $transitionSpeed $transitionFunction,
        visibility $transitionSpeed $transitionFunction,
        transform $transitionSpeed $transitionFunction;


    max-width: 400px;
    width: max-content;

    @media (max-width:$desktop) {
        max-width: calc(100vw - 50px);
    }

    &._visible {
        opacity: 1;
        visibility: visible;
    }
}