$desktop: 1300px;
$desktop-min: 1301px;

$tablet-max: 1024px;
$tablet-min: 1025px;

$smallTablet-max: 768px;
$smallTablet-min: 769px;

$mobile-max: 576px;
$mobile-min: 577px;

$smallMobile-max: 480px;
$smallMobile-min: 481px;

$transitionSpeed: 0.3s;
$transitionSpeedFast: 0.12s;
$transitionFunction: ease-in-out;