.page {
    height: 100%;
    font-family: var(--font-family), sans-serif;
}

.page__body {
    min-width: var(--min-width);
    min-height: 100%;
    font-size: var(--default-fz);
    background-color: var(--page-bg);
    color: var(--text-color);
    @apply bg-gray-800 text-white;
}

.site-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex-grow: 1;
}

.container {
    margin: 0 auto;
    padding: 0 var(--container-padding);
    max-width: var(--container-width);
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}

.dis-scroll {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

.text-center {
    text-align: center;
}

.ibg {
    position: relative;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }

    // padding-bottom: percent(height, width);
}

.ibg-contain {
    position: relative;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: contain;
    }

    // padding-bottom: percent(height, width);
}

.no-select {
    user-select: none;
}

.loader-wrapper{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;

    background-color: var(--white);

    display: flex;
    align-items: center;
    justify-content: center;
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #7a7a7a;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}